@import "../../../styles/mixins";

.rf-badge__wrapper {
  display: inline-flex;
  position: relative;
}

.rf-badge {
  position: absolute;
  top: 0;
  right: 0;

  min-width: 20px;
  height: 20px;
  padding: 0 6px;

  display: flex;
  align-items: center;
  z-index: 1;
  border-radius: 10px;
  transform: translate(50%, -50%);

  @include Body2Long;
  cursor: default;
}

.rf-badge.rf--small {
  min-width: 16px;
  height: 16px;
  @include Caption1;
}

.rf-badge--text {
  transform: translate(100%, -50%);
}

.rf-badge.rf--neutral {
  background-color: var(--neutral-10);
}

.rf-badge.rf--primary {
  background-color: var(--primary-60);
  color: var(--neutral-white);
}

.rf-badge.rf--extra-one {
  background-color: var(--extra-one-50);
  color: var(--neutral-white);
}

.rf-badge.rf--attention {
  background-color: var(--attention-50);
  color: var(--neutral-white);
}

.rf-badge.rf--success {
  background-color: var(--success-50);
  color: var(--neutral-white);
}

.rf-badge.rf--warning {
  background-color: var(--warning-50);
  color: var(--neutral-white);
}

.rf-badge.rf--error {
  background-color: var(--error-60);
  color: var(--neutral-white);
}

.rf-badge--dot {
  @include round(8px);
  padding: 0;
  border: 2px solid var(--neutral-white);
  box-sizing: content-box;
}
