@import "../../../../styles/mixins";

.rf__user-photo {
  @include round(40px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--neutral-30);

  display: flex;
  align-items: center;
  justify-content: center;

  @include buttonGiant;
  color: var(--neutral-white);
}
