@import "../../../styles/mixins";

.rf-notification {
  margin-top: 15px;
  position: relative;
  width: 640px;
  padding: 16px 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: default;
  border-radius: 8px;
  overflow: hidden;
}

.rf-notification::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 8px;
}

.rf-notification.rf--success {
  background-color: var(--success-10);

  &::before {
    background-color: var(--success-50);
  }
}

.rf-notification.rf--error {
  background-color: var(--error-10);

  &::before {
    background-color: var(--error-50);
  }
}

.rf-notification.rf--attention {
  background-color: var(--attention-10);

  &::before {
    background-color: var(--attention-50);
  }
}

.rf-notification.rf--warning {
  background-color: var(--warning-10);

  &::before {
    background-color: var(--warning-50);
  }
}

.rf-notification.rf--primary {
  background-color: var(--primary-10);

  &::before {
    background-color: var(--primary-50);
  }
}

.rf-notification.rf--neutral {
  background-color: var(--neutral-10);

  &::before {
    background-color: var(--neutral-50);
  }
}

.rf-notification.rf--extra-one {
  background-color: var(--extra-one-10);

  &::before {
    background-color: var(--extra-one-50);
  }
}

.rf-notification__message {
  width: 100%;
  @include Body1Long;
  padding-right: 16px;
}

.rf-notification__close {
  flex-grow: 0;
  margin-left: auto;
  width: 32px;
  height: 32px;
  min-width: 32px;
  background-color: transparent;
  border: 0;
  outline: none;
  color: var(--neutral-50);
}
