@import "../../../../styles/mixins";

.users-stack {
  display: flex;
  align-items: center;
  cursor: default;
}

.users-stack__item {
  position: relative;
  border: 2px solid var(--neutral-white);
  border-radius: 50%;
}

.users-stack__value {
  @include Subtitle2;
  color: var(--neutral-50);
  transform: translateX(-24px);
}
