@import "../../../styles/mixins";

.rf-chips {
  display: flex;
  flex-wrap: wrap;
}

.rf-chips__item {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 16px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: var(--neutral-20);
  cursor: default;
}

.rf-chips__name {
  @include Body1Long;
}

.rf-chips__button {
  @include round(22px);
  margin-left: 8px;
  background-color: var(--neutral-white);
  color: var(--neutral-50);
}

.rf-chips__item.rf--neutral:hover .rf-chips__name {
  color: var(--neutral-50);
}

.rf-chips__item.rf--primary {
  background-color: var(--primary-50);

  .rf-chips__name {
    color: var(--neutral-white);
  }

  &:hover {
    background-color: var(--primary-40);
  }
}

.rf-chips__item.rf--success {
  background-color: var(--success-50);

  .rf-chips__name {
    color: var(--neutral-white);
  }

  &:hover {
    background-color: var(--success-40);
  }
}

.rf-chips__item.rf--warning {
  background-color: var(--warning-50);

  .rf-chips__name {
    color: var(--neutral-white);
  }

  &:hover {
    background-color: var(--warning-40);
  }
}

.rf-chips__item.rf--error {
  background-color: var(--error-50);

  .rf-chips__name {
    color: var(--neutral-white);
  }

  &:hover {
    background-color: var(--error-40);
  }
}

.rf-chips__item.rf--attention {
  background-color: var(--attention-50);

  .rf-chips__name {
    color: var(--neutral-white);
  }

  &:hover {
    background-color: var(--attention-40);
  }
}

.rf-chips__item.rf--extra-one {
  background-color: var(--extra-one-50);

  .rf-chips__name {
    color: var(--neutral-white);
  }

  &:hover {
    background-color: var(--extra-one-40);
  }
}

.rf-chips__item.rf-chips__item--disabled {
  background-color: var(--neutral-20);

  .rf-chips__name {
    color: var(--neutral-40);
  }

  .rf-chips__button {
    background-color: var(--neutral-10);
    color: var(--neutral-40);
    cursor: default;
  }

  &:hover {
    background-color: var(--neutral-20);
  }
}

.rf-chips__item--pointer {
  cursor: pointer;
}
