@import "../../../styles/mixins";

.rf-chips {
  display: flex;
  flex-wrap: wrap;
}

.rf-chips__item {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 4px 10px;
  border-radius: 14px;
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: var(--neutral-10);
  cursor: default;
  transition: 0.15s ease-in-out;
}

.rf-chips__name {
  @include Body2Long;
}

.rf-chips__item.rf--small {
  height: 24px;
  padding: 4px 8px;

  .rf-chips__name {
    @include Caption1;
  }
}

.rf-chips__button {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  box-shadow: unset;
  margin-left: 8px;
  background-color: transparent;
  color: var(--neutral-50);
}

.rf-chips__item {
  .rf-chips__button:focus,
  .rf-chips__button:hover {
    background-color: transparent;
    color: var(--neutral-50);
  }
}

.rf-chips__item:hover {
  background-color: var(--neutral-20);
}

.rf-chips__item.rf--primary {
  background-color: var(--primary-60);

  .rf-chips__name {
    color: var(--neutral-white);
  }

  &:hover {
    background-color: var(--primary-40);
  }
}

.rf-chips__item.rf--success {
  background-color: var(--success-50);

  .rf-chips__name {
    color: var(--neutral-white);
  }

  &:hover {
    background-color: var(--success-40);
  }
}

.rf-chips__item.rf--warning {
  background-color: var(--warning-50);

  .rf-chips__name {
    color: var(--neutral-white);
  }

  &:hover {
    background-color: var(--warning-40);
  }
}

.rf-chips__item.rf--error {
  background-color: var(--error-60);

  .rf-chips__name {
    color: var(--neutral-white);
  }

  &:hover {
    background-color: var(--error-40);
  }
}

.rf-chips__item.rf--attention {
  background-color: var(--attention-50);

  .rf-chips__name {
    color: var(--neutral-white);
  }

  &:hover {
    background-color: var(--attention-40);
  }
}

.rf-chips__item.rf--extra-one {
  background-color: var(--extra-one-50);

  .rf-chips__name {
    color: var(--neutral-white);
  }

  &:hover {
    background-color: var(--extra-one-40);
  }
}

.rf-chips__item.rf-chips__item--disabled {
  background-color: var(--neutral-20);

  .rf-chips__name {
    color: var(--neutral-40);
  }

  .rf-chips__button {
    background-color: var(--neutral-10);
    color: var(--neutral-40);
    cursor: default;
  }

  &:hover {
    background-color: var(--neutral-20);
  }
}

.rf-chips__item--pointer {
  cursor: pointer;
}
