@import "../../../styles/mixins";

$margin: 8px;
$lineWidth: 2px;

.rf-tabs__navigation {
  position: relative;
  //padding-bottom: $margin;
  border-bottom: $lineWidth solid var(--neutral-20);
}

.rf-tabs__navigation-list {
  display: flex;
  align-items: center;
}

.rf-tabs__navigation-line {
  position: absolute;
  bottom: -$lineWidth;
  left: 0;
  height: $lineWidth;
  background-color: var(--primary-60);

  transition: 0.3s;
}

.rf-tabs__link:last-of-type {
  margin-right: 0;
}

.rf-button.rf-tabs__button {
  color: var(--neutral-50);
  font-weight: 400;
  border-radius: 0;
  padding: 0 16px;
}

.rf-button.rf-tabs__button:hover {
  background-color: var(--opacity-black-hover);
}

.rf-button.rf-tabs__button--active {
  color: var(--neutral-90);
}

.rf-tabs__content {
  margin-top: $margin;
}

.rf-tabs--buttons {

  .rf-tabs__navigation {
    border-bottom: none;
  }

  .rf-tabs__button {
    @include Body1Long;
    color: var(--neutral-50);
  }

  .rf-tabs__button--active {
    color: var(--neutral-90);
  }

  .rf-tabs__navigation-line {
    height: 4px;
  }

  .rf-tabs__content {
    margin-top: 24px;
  }
}
