@import "../../../styles/mixins";

.rf-message {
  position: relative;
  z-index: 1;
  max-width: 640px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--neutral-70);
  cursor: default;
  border-radius: 8px;
  overflow: hidden;
}

.rf-message::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 8px;
}

.rf-message.rf--neutral::before {
  background-color: var(--neutral-50);
}

.rf-message.rf--primary::before {
  background-color: var(--primary-50);
}

.rf-message.rf--attention::before {
  background-color: var(--attention-50);
}

.rf-message.rf--extra-one::before {
  background-color: var(--extra-one-50);
}

.rf-message.rf--error::before {
  background-color: var(--error-50);
}

.rf-message.rf--success::before {
  background-color: var(--success-50);
}

.rf-message.rf--warning::before {
  background-color: var(--warning-50);
}

.rf-message.rf--neutral {
  background-color: var(--neutral-10);
}

.rf-message.rf--primary {
  background-color: var(--primary-10);
}

.rf-message.rf--attention {
  background-color: var(--attention-10);
}

.rf-message.rf--extra-one {
  background-color: var(--extra-one-10);
}

.rf-message.rf--error {
  background-color: var(--error-10);
}

.rf-message.rf--success {
  background-color: var(--success-10);
}

.rf-message.rf--warning {
  background-color: var(--warning-10);
}

.rf-message__message {
  @include Body1Long;
  white-space: normal;
}
