@import 'variables';

@font-face {
  font-weight: 300;
  font-family: 'VTB Group UI';
  font-style: normal;
  src: url('../assets/fonts/VTB_Group_UI/VTBGroupUI-Light.ttf') format('truetype'),
    url('../assets/fonts/VTB_Group_UI/VTBGroupUI-Light.eot');
}

@font-face {
  font-weight: 400;
  font-family: 'VTB Group UI';
  font-style: normal;
  src: url('../assets/fonts/VTB_Group_UI/VTBGroupUI-Regular.ttf') format('truetype'),
    url('../assets/fonts/VTB_Group_UI/VTBGroupUI-Regular.eot');
}

@font-face {
  font-weight: 500;
  font-family: 'VTB Group UI';
  font-style: normal;
  src: url('../assets/fonts/VTB_Group_UI/VTBGroupUI-Medium.ttf') format('truetype'),
    url('../assets/fonts/VTB_Group_UI/VTBGroupUI-Medium.eot');
}

@font-face {
  font-weight: 600;
  font-family: 'VTB Group UI';
  font-style: normal;
  src: url('../assets/fonts/VTB_Group_UI/VTBGroupUI-SemiBold.ttf') format('truetype'),
    url('../assets/fonts/VTB_Group_UI/VTBGroupUI-SemiBold.eot');
}

@font-face {
  font-weight: 700;
  font-family: 'VTB Group UI';
  font-style: normal;
  src: url('../assets/fonts/VTB_Group_UI/VTBGroupUI-DemiBold.ttf') format('truetype'),
    url('../assets/fonts/VTB_Group_UI/VTBGroupUI-DemiBold.eot');
}

@font-face {
  font-weight: 800;
  font-family: 'VTB Group UI';
  font-style: normal;
  src: url('../assets/fonts/VTB_Group_UI/VTBGroupUI-Bold.ttf') format('truetype'),
    url('../assets/fonts/VTB_Group_UI/VTBGroupUI-Bold.eot');
}

body {
  font-family: $fontFamily;
  background-color: transparent;

  &.fixed {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
input,
button,
textarea {
  margin: 0;
  padding: 0;
}

// запрет на ресайз textarea

textarea {
  resize: none;
}

button:focus,
input:focus,
textarea:focus,
a:focus {
  outline: none;
}

button,
textarea,
input {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: #fff;
  border: none;
}

a {
  text-decoration: none;
}

// сброс стилей для отображения на мобильных устройствах
//input,
//textarea {
//  -webkit-appearance: none !important;
//  -moz-appearance: none !important;
//  appearance: none !important;
//}

input::-ms-clear {
  display: none !important;
}

pre {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  white-space: pre-wrap;
}

// отключаем голубую подсветку при нажатии на элементы с мобильника
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

// кастомный скролл
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(85, 85, 85, 0.3);
}

.list-style-reset {
  list-style: none;
}

.visually-hidden {
  // Всеми этими свойствами скрываем элемент, но оставляем возможность перехода с клавиатуры
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
