@import "../../../../styles/mixins";

.feedback-popup {
  width: 100%;
  max-width: 832px;
  cursor: default;
}

.feedback-popup__title {
  @include h4;
}

.feedback-popup__subtitle {
  @include Body1Long;
  margin-top: 8px;
}

.feedback__group {
  margin-bottom: 32px;
}

.feedback__group-title {
  @include Subtitle2;
  margin-bottom: 8px;
}

.feedback__separator {
  margin: 16px -48px;
  width: calc(100% + 96px);
  height: 1px;
  background-color: var(--neutral-20);
}

.feedback__rating {
  display: flex;
  align-items: center;
}

.feedback__star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  min-width: 56px;
  border-radius: 8px;
  margin-right: 12px;
  background-color: var(--neutral-10);
  border: 1px solid var(--neutral-30);
  color: var(--neutral-50);
  cursor: pointer;
}

.feedback__star:last-of-type {
  margin-right: 0;
}

.feedback__star:not(.feedback__star--active):hover {
  background-color: var(--primary-20);
  border: 1px solid var(--primary-50);
}

.feedback__star--active {
  border: 1px solid var(--primary-50);
  background-color: var(--primary-50);
  color: var(--neutral-white);
}

.feedback__group-error {
  @include Body2Long;
  margin-top: 8px;
  color: var(--error-50)
}

.feedback__action {
  margin-right: 24px;
}

.feedback__action:last-of-type {
  margin-right: 0;
}
