@import "../../../styles/mixins";
@import "../../../styles/variables";

$radius: 20px;

.rf-radio {
  width: 100%;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
}

.rf-radio__input {
  @include hidden;
}

.rf-radio__circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $radius;
  height: $radius;
  min-width: $radius;
  min-height: $radius;
  margin-right: 10px;
  border-radius: 50%;

  background-color: transparent;
  border: 1px solid var(--neutral-60);

  transition: border 0.15s ease-in;
}

.rf-radio__circle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--neutral-5);
  @include round(36px);
  z-index: -1;
  opacity: 0;
  transition: 0.25s;
}

.rf-radio__mark {
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.15s ease-in opacity;
  color: var(--neutral-white);
}

.rf-radio__label {
  width: 100%;
  @include Body1Long;
  transition: 0.15s ease-in color;
}

.rf-radio--small {
  .rf-radio__circle {
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
  }

  .rf-radio__circle::after {
    @include round(32px);
  }

  .rf-radio__label {
    @include Body2Short;
  }

  .rf-radio__mark svg {
    width: 20px;
    height: 20px;
  }
}

// Hover
.rf-radio:hover .rf-radio__input:enabled + .rf-radio__circle::after {
  opacity: 1;
}

// Focus
.rf-radio__input:focus + .rf-radio__circle::after {
  opacity: 1;
  background-color: var(--opacity-black-focus);
}

// Pressed

.rf-radio--pressed .rf-radio__input:not(:disabled) + .rf-radio__circle::after {
  opacity: 1;
  background-color: var(--opacity-black-pressed);
}

// Checked
.rf-radio__input:checked:not(:disabled) + .rf-radio__circle {
  &.rf--neutral {
    border-color: var(--neutral-60);
  }

  &.rf--primary {
    border-color: var(--primary-60);
  }

  &.rf--attention {
    border-color: var(--attention-50);
  }

  &.rf--extra-one {
    border-color: var(--extra-one-60);
  }

  &.rf--error {
    border-color: var(--error-60);
  }

  &.rf--warning {
    border-color: var(--warning-60);
  }

  &.rf--success {
    border-color: var(--success-60);
  }
}

.rf-radio__input:checked + .rf-radio__circle {
  border-width: 4px;
}

//.rf-radio__input:checked + .rf-radio__circle .rf-radio__mark {
//	opacity: 1;
//}

.rf-radio__input:checked ~ .rf-radio__label {
  color: var(--neutral-90);
}

// Disabled
.rf-radio.disabled {
  cursor: default;
}

.rf-radio.disabled + .rf-radio__circle,
.rf-radio__input:disabled + .rf-radio__circle {
  @include disabled();
  color: var(--neutral-30);
  border-color: var(--neutral-30);
}

.rf-radio.disabled ~ .rf-radio__label:not(.rf-radio__label--node),
.rf-radio__input:disabled ~ .rf-radio__label:not(.rf-radio__label--node) {
  @include disabled();
  color: var(--neutral-30);
}

.rf-radio.disabled:hover ~ .rf-radio__label:not(.rf-radio__label--node),
.rf-radio__input:disabled:hover ~ .rf-radio__label:not(.rf-radio__label--node) {
  color: var(--neutral-30);
}
