@import "../../../styles/mixins";

.rf-inline-group__inner {
  display: flex;
  align-items: center;
}

.rf-inline-group__label {
  @include Body1Short;
  margin-right: 40px;
  white-space: nowrap;
  min-width: 60px;
}

.rf-inline-group__required {
  color: var(--error-60);
}

.rf-inline-group__message {
  margin-top: 8px;
  @include Body2Long;

  &.rf--neutral {
    color: var(--neutral-60);
  }

  &.rf--primary {
    color: var(--primary-60);
  }

  &.rf--attention {
    color: var(--attention-50);
  }

  &.rf--extra-one {
    color: var(--extra-one-60);
  }

  &.rf--error {
    color: var(--error-60);
  }

  &.rf--warning {
    color: var(--warning-60);
  }

  &.rf--success {
    color: var(--success-50);
  }
}

.rf-inline-group__inner .rf-input__field {
  @include Body2Long;
  padding: 0 8px;
}

.rf-inline-group__inner .rf-input__field::placeholder {
  @include Body2Long;
  color: var(--neutral-50);
}
