@import "../../../styles/mixins";

.rf-textarea__wrapper {
  width: 100%;
}

.rf-textarea-field {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 96px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: 0.3s ease-in all;

  @include Body2Long;
  border: 1px solid var(--neutral-30);
}

.rf-textarea-field::placeholder {
  @include Body2Long;
  color: var(--neutral-50);
}

.rf-textarea-field:hover {
  border-color: var(--neutral-50);
}

.rf-textarea-field:focus {
  border-color: var(--primary-60);
}

.rf-textarea-field.disabled,
.rf-textarea-field:disabled {
  @include disabled();
  color: var(--neutral-30);
  background-color: var(--neutral-10);
  border-color: var(--neutral-10);
}

.rf-textarea-field.invalid {
  border-color: var(--error-60);
}

.rf-textarea__max-length {
  @include Body2Short;
  color: var(--neutral-50);
  margin-top: 4px;
  text-align: right;
}
