@import "../../../styles/mixins";

.rf-form-group {
  width: 100%;
}

.rf-form-group__label {
  margin-bottom: 10px;
  @include Caption1;
  color: var(--neutral-black);
}

.rf-form-group__message {
  margin-top: 4px;
  @include Caption1;
  color: var(--error-50);
}

.rf-form-group__required {
  color: var(--error-50);
}
