@import "../../../styles/mixins";

.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumb__link {
  @include Body1Short;
  color: var(--neutral-50);
  transition: 0.15s ease-in-out;
}

.breadcrumb__angle {
  margin: 0 8px;
  transform: rotate(-90deg);
  color: var(--neutral-50);
}

.breadcrumb:last-of-type .breadcrumb__angle {
  display: none;
}

.breadcrumb__link--disabled {
  pointer-events: none;
}

.breadcrumb__link:not(.breadcrumb__link--disabled):hover {
  color: var(--primary-60);
}
