@import "../../../styles/mixins";

.rf-checkbox {
  width: 100%;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
}

.rf-checkbox__input {
  @include hidden;
}

.rf-checkbox__check {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--neutral-60);

  transition: background-color 0.15s ease-in;
}

.rf-checkbox__check::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--neutral-5);
  @include round(36px);
  z-index: -1;
  opacity: 0;
  transition: 0.25s;
}

.rf-checkbox__mark {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.15s ease-in opacity;
  color: var(--neutral-white);
}

.rf-checkbox__label {
  width: 100%;
  @include Body1Short;
  transition: 0.15s ease-in color;
}

.rf-checkbox--small {
  .rf-checkbox__check {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
  }

  .rf-checkbox__check::after {
    @include round(32px);
  }

  .rf-checkbox__label {
    @include Body2Short;
  }

  .rf-checkbox__mark svg {
    width: 20px;
    height: 20px;
  }
}

// Hover

.rf-checkbox:hover > .rf-checkbox__input:not(:disabled) ~ .rf-checkbox__check::after {
  opacity: 1;
}

// Focus

.rf-checkbox__input:focus ~ .rf-checkbox__check::after {
  opacity: 1;
  background-color: var(--opacity-black-focus);
}

// Pressed

.rf-checkbox--pressed .rf-checkbox__input:not(:disabled) ~ .rf-checkbox__check::after {
  opacity: 1;
  background-color: var(--opacity-black-pressed);
}

// Checked

.rf-checkbox__input:checked + .rf-checkbox__check {

  &.rf--neutral {
    background-color: var(--neutral-60);
    border-color: var(--neutral-60);
  }

  &.rf--primary {
    background-color: var(--primary-60);
    border-color: var(--primary-60);
  }

  &.rf--attention {
    background-color: var(--attention-50);
    border-color: var(--attention-50);
  }

  &.rf--extra-one {
    background-color: var(--extra-one-60);
    border-color: var(--extra-one-60);
  }

  &.rf--error {
    background-color: var(--error-60);
    border-color: var(--error-60);
  }

  &.rf--warning {
    background-color: var(--warning-60);
    border-color: var(--warning-60);
  }

  &.rf--success {
    background-color: var(--success-60);
    border-color: var(--success-60);
  }
}

.rf-checkbox__input:checked + .rf-checkbox__check .rf-checkbox__mark {
  opacity: 1;
}

.rf-checkbox__input:checked ~ .rf-checkbox__label {
  color: var(--neutral-black);
}

.rf-checkbox__input:disabled ~ .rf-checkbox__label:not(.rf-checkbox__label--node) {
  cursor: default;
  pointer-events: none;
  color: var(--neutral-30);
}

// Disabled

.rf-checkbox.disabled {
  cursor: default;
}

.rf-checkbox.disabled + .rf-checkbox__check,
.rf-checkbox__input:disabled + .rf-checkbox__check {
  border-color: var(--neutral-30);
}

.rf-checkbox__input:disabled:checked + .rf-checkbox__check {
  background-color: var(--neutral-30);
  border-color: var(--neutral-30);
}

.rf-checkbox.disabled + .rf-checkbox__check:not(.rf-checkbox__check--node),
.rf-checkbox__input:disabled + .rf-checkbox__check:not(.rf-checkbox__check--node),
.rf-checkbox__input:disabled:checked + .rf-checkbox__check:not(.rf-checkbox__check--node) {
  @include disabled();
}

.rf-checkbox.disabled ~ .rf-checkbox__label:not(.rf-checkbox__label--node),
.rf-checkbox__input:disabled ~ .rf-checkbox__label:not(.rf-checkbox__label--node) {
  @include disabled();
  color: var(--neutral-30);
}

.rf-checkbox.disabled:hover ~ .rf-checkbox__label:not(.rf-checkbox__label--node),
.rf-checkbox__input:disabled:hover ~ .rf-checkbox__label:not(.rf-checkbox__label--node) {
  color: var(--neutral-30);
}

.rf-checkbox__children {
  padding-left: 30px;
}

.rf-checkbox.hidden {
  display: none;
}
