@import "../../../styles/mixins";

.rf-checkbox {
  width: 100%;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
}

.rf-checkbox__input {
  position: absolute;
  top: -9999px;
  opacity: 0;
  display: none;
}

.rf-checkbox__check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: var(--faint-100);
  border: 1px solid var(--neutral-30);

  transition: background-color 0.15s ease-in;
}

.rf-checkbox__mark {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.15s ease-in opacity;
  color: var(--neutral-white);
}

.rf-checkbox__label {
  width: 100%;
  @include Body1Long;
  transition: 0.15s ease-in color;
}

// Hover

.rf-checkbox:hover > .rf-checkbox__check {

  &.rf--neutral {
    background-color: var(--neutral-20);
    border-color: var(--neutral-50);
  }

  &.rf--primary {
    background-color: var(--primary-20);
    border-color: var(--primary-50);
  }

  &.rf--attention {
    background-color: var(--attention-20);
    border-color: var(--attention-50);
  }

  &.rf--extra-one {
    background-color: var(--extra-one-20);
    border-color: var(--extra-one-50);
  }

  &.rf--error {
    background-color: var(--error-20);
    border-color: var(--error-50);
  }

  &.rf--warning {
    background-color: var(--warning-20);
    border-color: var(--warning-50);
  }

  &.rf--success {
    background-color: var(--success-20);
    border-color: var(--success-50);
  }
}

// Focus

.rf-checkbox__input:focus ~ .rf-checkbox__label {
  color: var(--neutral-black);
}

.rf-checkbox__input:focus ~ .rf-checkbox__check {
  outline: 2px solid var(--primary-20);
}

// Checked

.rf-checkbox__input:checked + .rf-checkbox__check {

  &.rf--neutral {
    background-color: var(--neutral-50);
    border-color: var(--neutral-50);
  }

  &.rf--primary {
    background-color: var(--primary-50);
    border-color: var(--primary-50);
  }

  &.rf--attention {
    background-color: var(--attention-50);
    border-color: var(--attention-50);
  }

  &.rf--extra-one {
    background-color: var(--extra-one-50);
    border-color: var(--extra-one-50);
  }

  &.rf--error {
    background-color: var(--error-50);
    border-color: var(--error-50);
  }

  &.rf--warning {
    background-color: var(--warning-50);
    border-color: var(--warning-50);
  }

  &.rf--success {
    background-color: var(--success-50);
    border-color: var(--success-50);
  }
}

.rf-checkbox__input:checked + .rf-checkbox__check .rf-checkbox__mark {
  opacity: 1;
}

.rf-checkbox__input:checked ~ .rf-checkbox__label {
  color: var(--neutral-black);
}

.rf-checkbox__input:disabled ~ .rf-checkbox__label:not(.rf-checkbox__label--node) {
  cursor: default;
  pointer-events: none;
  color: var(--neutral-black);
}

// Disabled

.rf-checkbox.disabled {
  cursor: default;
}

.rf-checkbox.disabled + .rf-checkbox__check,
.rf-checkbox__input:disabled + .rf-checkbox__check {
  background-color: var(--neutral-10);
  border-color: var(--neutral-20);
}

.rf-checkbox__input:disabled:checked + .rf-checkbox__check {
  background-color: var(--neutral-30);
  border-color: var(--neutral-30);
}

.rf-checkbox.disabled + .rf-checkbox__check:not(.rf-checkbox__check--node),
.rf-checkbox__input:disabled + .rf-checkbox__check:not(.rf-checkbox__check--node),
.rf-checkbox__input:disabled:checked + .rf-checkbox__check:not(.rf-checkbox__check--node) {
  @include disabled();
}

.rf-checkbox.disabled ~ .rf-checkbox__label:not(.rf-checkbox__label--node),
.rf-checkbox__input:disabled ~ .rf-checkbox__label:not(.rf-checkbox__label--node) {
  @include disabled();
  color: var(--neutral-black);
}

.rf-checkbox.disabled:hover ~ .rf-checkbox__label:not(.rf-checkbox__label--node),
.rf-checkbox__input:disabled:hover ~ .rf-checkbox__label:not(.rf-checkbox__label--node) {
  color: var(--neutral-black);
}

.rf-checkbox__children {
  padding-left: 30px;
}

.rf-checkbox.hidden {
  display: none;
}
